pipeline/Db to Blob.json
{
	"name": "Db to Blob",
	"properties": {
		"activities": [
			{
				"name": "Loop through control_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "controltableds",
						"type": "DatasetReference",
						"parameters": {
							"servername": "azure-training-sqlserver.database.windows.net",
							"databasename": "demo",
							"username": "training",
							"secretname": "sqlserver1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop through each item in the control_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Loop through control_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Loop through control_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data from sqldb table to file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().SRC_TB}\nwhere ValidFrom>'@{item().watermark_value}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(item().MAPPINGS)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "sqldatads",
									"type": "DatasetReference",
									"parameters": {
										"servername": {
											"value": "@item().SRC_LOC",
											"type": "Expression"
										},
										"username": {
											"value": "@item().USERNAME",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@item().SRC_SCHEMA",
											"type": "Expression"
										},
										"databasename": {
											"value": "@item().SRC_DB",
											"type": "Expression"
										},
										"secretname": {
											"value": "@item().SECRETNAME",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().SRC_TB",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "blobds",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('year=',utcnow('yyyy'),'/month=',utcnow('MM'),'/day=',utcnow('dd'),'/',item().DES_TB,'.csv')",
											"type": "Expression"
										},
										"foldername": {
											"value": "@item().DES_LOC",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Updating control_table watermark column",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data from sqldb table to file",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get the lastmodified time from src table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UPDATE_CONTROL_TABLE]",
								"storedProcedureParameters": {
									"TABLENAME": {
										"value": {
											"value": "@item().SRC_TB",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastModifiedTime": {
										"value": {
											"value": "@activity('Get the lastmodified time from src table').output.firstRow.LastModifiedTime",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"servername": "azure-training-sqlserver.database.windows.net",
									"databasename": "demo",
									"secretname": "sqlserver1",
									"Username": "training"
								}
							}
						},
						{
							"name": "Get the lastmodified time from src table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select max(ValidFrom) as LastModifiedTime from @{item().SRC_TB}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "sqldatads",
									"type": "DatasetReference",
									"parameters": {
										"servername": {
											"value": "@item().SRC_LOC",
											"type": "Expression"
										},
										"username": {
											"value": "@item().USERNAME",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@item().SRC_SCHEMA",
											"type": "Expression"
										},
										"databasename": {
											"value": "@item().SRC_DB",
											"type": "Expression"
										},
										"secretname": {
											"value": "@item().secretname",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().SRC_TB",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}