pipeline/Type2 Handling Incremental_copy2.json
{
	"name": "Type2 Handling Incremental_copy2",
	"properties": {
		"activities": [
			{
				"name": "Looping through all the tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getting details from control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getting details from control table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Source to destination copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@item().WATERMARK_VALUE",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"wildcardFolderPath": {
											"value": "@item().SRC_SERVER",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "Truncate table @{item().des_tb}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "akshayasa_ls",
											"type": "LinkedServiceReference"
										},
										"path": "files/warnings"
									}
								},
								"translator": {
									"value": "@json(item().MAPPINGS)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "Folder",
									"type": "DatasetReference",
									"parameters": {
										"foldername": {
											"value": "@item().SRC_SERVER",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sqldatads",
									"type": "DatasetReference",
									"parameters": {
										"servername": {
											"value": "@item().DES_SERVER",
											"type": "Expression"
										},
										"username": {
											"value": "@item().USERNAME",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@item().des_schema",
											"type": "Expression"
										},
										"databasename": {
											"value": "@item().des_db",
											"type": "Expression"
										},
										"secretname": {
											"value": "@item().SECRETNAME",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().DES_TB",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Loading data into dim",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Source to destination copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().SPROC",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"servername": {
										"value": "@item().des_SERVER",
										"type": "Expression"
									},
									"databasename": {
										"value": "@item().des_DB",
										"type": "Expression"
									},
									"secretname": {
										"value": "@item().SECRETNAME",
										"type": "Expression"
									},
									"Username": {
										"value": "@item().USERNAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Updating control_table watermark column",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Loading data into dim",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UPDATE_CONTROL_TABLE2]",
								"storedProcedureParameters": {
									"TABLENAME": {
										"value": {
											"value": "@item().des_TB",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastModifiedTime": {
										"value": {
											"value": "@substring(pipeline().TriggerTime,0,10)",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"Taskname": {
										"value": {
											"value": "@item().TASKNAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"servername": "azure-training-sqlserver.database.windows.net",
									"databasename": "demo",
									"secretname": "sqlserver1",
									"Username": "training"
								}
							}
						},
						{
							"name": "Send Email on failure",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Source to destination copy",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-20.centralindia.logic.azure.com:443/workflows/e3adea16cbcb4721b63d93037ca154ec/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=WwY1QEGOgVeJS7cu5AALEuhK-xHUd6es5Q0Jmepy9xc",
								"method": "POST",
								"headers": {
									"Content-type": "application/json"
								},
								"body": {
									"value": "{\n    \"PipelineName\":\"@{pipeline().Pipeline}\",\n    \"ErrorMessage\":\"@{activity('Source to destination copy').Error.Message}\",\n    \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"PipelineRundId\":\"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Getting details from control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.control_table_2 \nwhere sourcetype='file' and desttype='table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "controltableds",
						"type": "DatasetReference",
						"parameters": {
							"servername": "azure-training-sqlserver.database.windows.net",
							"databasename": "demo",
							"username": "training",
							"secretname": "sqlserver1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Send email when not able to fetch from control_table",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Getting details from control table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-20.centralindia.logic.azure.com:443/workflows/e3adea16cbcb4721b63d93037ca154ec/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=WwY1QEGOgVeJS7cu5AALEuhK-xHUd6es5Q0Jmepy9xc",
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"body": {
						"value": "{\n    \"PipelineName\":\"@{pipeline().Pipeline}\",\n    \"ErrorMessage\":\"@{activity('Getting details from control table').Error.Message}\",\n    \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"RunId\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}